# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
.venv/
env/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Pytest
# ----------------------------
.pytest_cache/

# ----------------------------
# MyPy
# ----------------------------
.mypy_cache/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Temporary Files
# ----------------------------
*.tmp
*.bak